{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
<br>
<div class="row">
	<div class="col-md-8">
		<div class="col-sm-3">
			<img class="img-thumbnail" src="{{ student.thumbnail.url }}">
		</div>
		<div class="col-sm-9">
			<h1 class="text-left center-block">{{ student.name }} <br>
			<small>Ainejärjestö: {{ student.tutor.get_organization_display }}, Tutor: {{ student.tutor }}</small>
			</h1>
		</div>
	</div>
</div>
<div class="row">
<div class="col-md-10 col-md-offset-2">
	{% if user.is_authenticated %}
	{% for story in stories %}
	<div class="{{ story.get_bootstrap_column_size }}">
		<blockquote>
			<p>{{ story.story }}</p>
			<small>{{ story.writer_nick }}</small>
		</blockquote>
	</div>
	{% endfor %}
	{% else %}
	<h2 class="text-center"> {{ stories.count }} kronikkaa kirjoitettu </h2>
	{% endif %}
</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<form method="POST" action="{% url 'new_story' student.pk %}">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary btn-block btn-lg">Lähetä</button>
		</form>
		<br>
	</div>
</div>
{% endblock %}
